# ===========================
# LLM — OpenAI
# ===========================
# Chave da API do OpenAI
OPENAI_API_KEY=sk-proj-sua-chave-aqui

# ===========================
# Google Sheets
# ===========================
# Nome exato da planilha no seu Google Drive
SPREADSHEET_NAME=Powerstats_Template_Colorido_Modificado

# Nome do arquivo JSON contendo as credenciais da Service Account do Google Cloud.
# Este arquivo deve estar na mesma pasta ou o caminho completo deve ser passado.
GOOGLE_CREDENTIALS_FILE=seu-arquivo-de-credenciais.json
